<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <style>
.header {
    background-color: #28a745;;
    padding: 20px;
    text-align: center;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #28a745;
   text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    padding: 15px;
}

.container {
    padding: 16px;

}





    </style>
    <title>homepage</title>
</head>
<body>
<form action="/logout">
    <div class="header">
        <h2>Koko Networks</h2>
        <div class="row">
            <div class="col-md-6 col-sm-6"><h3 align="left">Welcome , {{result}}</h3></div>
            <div class="col-md-6 col-sm-6">
                <button type="submit" class="btn pull-right" href="/logout">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                </button>
            </div>
        </div>
    </div>
</form>
<br>
<br>

<div class="container" align="center">
    <div class="row">
        <div class="col-md-12">
            <h2 align="center">WHAT IS KOKO?</h2>
            <p>KOKO Networks is a venture-backed technology company operating in East Africa and India. We build and
                deploy
                dense Networks of cloud-connected "KOKOpoints" inside local corner stores, which serve as consumer
                access
                points for goods and services delivered in partnership with major suppliers.
            </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <h2>HOW OUR CLEAN FUEL SOLUTION WORKS</h2>
            <p align="center">Our first consumer solution is a liquid ethanol cooking fuel, which delivers significant
                cost savings and
                quality of life improvements in the multi-billion dollar market for urban cooking fuel. This fuels
                solution is delivered through a Kenyan operating partnership with Vivo Energy, the company which owns
                and operates Shell-branded fuels distribution infrastructure across Africa.

            </p>
        </div>
    </div>
</div>

<div class="footer">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-4"><a class="nav-link" href="http://www.google.com" target="_blank">Google</a></div>
            <div class="col-md-4"><a class="nav-link" href="http://www.bitbucket.org" target="_blank">Bit Bucket</a>
            </div>
            <div class="col-md-4"><a class="nav-link" href="http://www.kokonetworks.com" target="_blank">Koko
                Networks</a></div>
        </div>
    </div>
</div>


</body>
</html>