<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

    </style>
</head>
<title>Login Page</title>
<body>

<div class="container">
    <h2 align="center">Login Form</h2>
</div>

<form action="/login" method="post">
    <!--<div class="imgcontainer">-->
    <!--<img src="img_avatar2.png" alt="Avatar" class="avatar">-->
    <!--</div>-->


    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% if error %}
                <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %}

                    <br>
                    <br>
                    <label for="uname"><b>Email</b></label>
                    <input type="text" placeholder="Enter email" name="username" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button type="submit" id="login_btn">Login</button>
            </div>
        </div>
    </div>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <span class="psw">New User <a href="/signup">Sign Up ?</a></span>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function (e) {
        console.log("hello from outside");
        $("#login_btn").click(function(){
            username = $('input[name=username]').val()
            password = $('input[name=password]').val()
            $.ajax({
              method: "POST",
              url: "/login",
              data: { username:username,password:password},
              success:function(data,textStatus,xhr){
                console.log(xhr.status);
              },

            })
            .done(function(msg) {
                alert( "Data Saved: " + msg);

            });
        });
    });



</script>
</body>
</html>
